{% extends "base.html" %}


{% block title %}People{% endblock %}

{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<!--The preceding template allows us to list all the active users in the
site. We iterate over the given users and use sorl-thumbnail's {thumbnail %}
template tag to generate profile image thumbnails.-->